#dashboardSidebarContainer{
    margin-top: 60px;
    height: calc(100% - 60px);
    width: 15%;
    float: left;
}

#dashboardContentContainer{
    margin-top: 60px;
    height: calc(100% - 60px);
    width: 85%;
    float: left;
    padding: 50px;
    overflow-y: scroll;
}

#dashboardContent{
    padding: 50px;
}

.collapseExpandArrow {
    float: right;
    margin-top: 6px;
}

.dashboardContentHeader{
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    font-weight: 600;
}

.dashboardContentPanel{
    padding: 45px 60px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.dashboardContentPanelBorder{
    border-color: #ddd;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.dashboardContentCoursePanel{
    width: 45%;
    float: left;
    margin-left: 4%;
}

.dashboardContentPanelHeader{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    font-weight: 600;
}

#dashboardLogoDiv {
    padding-left: 5px;
}

.dashboardSideBarIcon{
    width: 25px;
    height: 25px; 
    margin: 5px 13px;
}

#dashboardSidebarContainer li {
    list-style-type: none;
}

.sidebar{
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .sidebar-nav{
        padding: 0px;
        li{
            cursor: pointer;
        }
        li>a:focus, li>a:hover {
            text-decoration: none;
            background-color: #f5f5f5;
            border-right: 10px #2b9ed5 solid;
        }
        li>ul{
            padding-left: 10px;
        }
        li>ul>li>a{
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 60px;
        }
        li>ul>li>a:hover{
            text-decoration: none;
            background-color: #eee;
        }
    }
}

.dashboardContentChineseHead{
    font-size: 20px;
    color: #30a0d6;
    font-family: "Open Sans",sans-serif;
    -webkit-font-smoothing: antialiased;
}

.dashboardAvatar-container{
    width: 200px;
    margin: 10px;
    border-radius: 50%;
    &:hover{
        cursor: pointer;
        opacity: 0.7;
    };
}

.dashboardAvatar{
    width: 200px;
    border-radius: 50%;
}

.course-detail-btn{
  bottom: 0;
  right: 0;
  float: right;
}

.dashboardContentOneLineControlRow{
    margin-left: -60px;
    width: 107%;
}

.leftMargin{
    margin-left: 30px;
}

.buttonMargin{
    margin-left:10px;
    margin-top: 10px;
}

.workExperienceHolder{
    margin-top:10px;
    border-top: solid 2px #ccc;
    padding-top: 10px;
    padding-left: 10px;
}

.inputRow{
    margin-bottom: 10px;
}
.inputRowLabel{
    line-height: 33px;
}
.react-datepicker__input-container{
    width:100%;
}
#basicInfoSaveButton{
    margin-left: 50%;
}
.courseImage{
    margin-top : 20px;
}