.main-navbar{
  height: 51px;
}

.row{
  margin: 0px;
}

#joinButton{
	font-size: 18px;
    width: 500px;
    margin: auto;
    margin-top: 25px;
    border: #9d9d9d solid 2px;
    transition: all 0s;
    padding: 20px 0;
}