.main-page-course {
  width: 450px;
  height: 250px;
  padding: 27px;
  margin: 15px;
  float: left;
  position: relative;
}

.main-page-course-detail-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
}