.professorsIntroBlock{
    margin-top:20px;
    .jumbotron{
    	background-color: #ffffff;
    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    	border-radius: 0px;
    	border: none;
    	border-left: 15px #2b9ed5 solid;
    }
}

.professorsIntroHeader{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.professorsIntroPhoto{
    margin-left: -16px;
    width: 200px;
}